# Arquivos .class serão ignorados na sincronização
*.class
/Projetos NetBeans/PrimeiroProjetoNB/nbproject/private/
/Projetos NetBeans/PrimeiroProjetoNB/build/
/Projetos NetBeans/SegundoProjetoNB/nbproject/private/
/Projetos NetBeans/VariaveisTipos/nbproject/private/
/Projetos NetBeans/EstruturasCondicionais/nbproject/private/
/Projetos NetBeans/EstruturasCondicionais/build/
/Projetos NetBeans/ExerciciosSlide/nbproject/private/
/Projetos NetBeans/ExerciciosSlide/build/